@model XDPM_PHATHANHSACH.Models.CT_PHIEUCHI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CT_PHIEUCHI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEUCHI.MAPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUCHI.MAPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.TENSACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.TENSACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHTIEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
