@model IEnumerable<XDPM_PHATHANHSACH.Models.NXB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOTK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIENCONNO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIENCONNO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MANXB }) |
            @Html.ActionLink("Details", "Details", new { id=item.MANXB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MANXB })
        </td>
    </tr>
}

</table>
