@model IEnumerable<XDPM_PHATHANHSACH.Models.PHIEUXUAT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DAILY.TENDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYXUAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGUOINHAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DAILY.TENDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYXUAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGUOINHAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAPX }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAPX }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAPX })
        </td>
    </tr>
}

</table>
