@model IEnumerable<XDPM_PHATHANHSACH.Models.PHIEUCHI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NXB.TENNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NXB.TENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAPC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAPC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAPC })
        </td>
    </tr>
}

</table>
