@using System.Data
@model DataTable

@{
    ViewBag.Title = "Thống Kê Tồn Kho";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<h2>Thống Kê Tồn Kho</h2>
@using (Html.BeginForm())
{
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Chọn ngày:</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="datepicker" name="datepicker" value=@ViewBag.ngay><br>
                @if (Model.Rows.Count <= 0)
                {
                    <div class="text-danger">Không tìm thấy</div>
                }
            </div>

            <div class="col-md-2">
                <input type="submit" value="Lọc" class="btn btn-default" />
            </div>
        </div>
    </div>

   
}

<table class="table">
    <tr>
        <th>
            Tên Sách
        </th>
        <th>
            Tác giả
        </th>
        <th>
            Thể loại
        </th>
        <th>
            Số lượng tồn
        </th>
        <th>
            Giá
        </th>
        <th></th>
    </tr>

    @foreach (DataRow row in Model.Rows)
    {
        <tr>
            <td>
                @(row.Field<string>("TENSACH"))
            </td>
            <td>
                @(row.Field<string>("TACGIA"))
            </td>
            <td>
                @(row.Field<string>("THELOAI"))
            </td>
            <td>
                @(row.Field<int>("SOLUONGTON"))
            </td>
            <td>
                @(row.Field<int>("GIA"))
            </td>
        </tr>
    }
</table>